<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <!--Show Name/Description/Current Stock-->
    <p><%= robot.name %>: <%= robot.description %></p>
    <p>Current Stock: <%= robot.in_stock %> </p>

    <!--Edit Robot-->
    <a href="/robots/<%= robot._id %>/edit">
      <button>Edit Robot</button>
    </a>

    <!--Delete Robot-->
    <button id="delete-robot">Delete Robot</button><br><br>

    <!--Back to Robot List Page-->
    <a href="/robots/"><%= "<< back" %></a>

    <!--Handle Robot Deletion-->
    <script type="text/javascript">

    var deleteButton = document.getElementById("delete-robot")
    deleteButton.addEventListener("click", deleteRobot, false)

    function deleteRobot()
    {
      const requestUrl = "<%= requestUrl %>"
      const requestOptions =
      {
        method: "DELETE",
        headers: {'Accept':'application/json', 'Content-Type':'application/json'}
      }

      fetch(requestUrl, requestOptions).then(function(response)
      {
        if (response.ok) {
          window.location = '/robots'
        } else {
          alert("Deletion Error.")
        }
      }).catch(function(err){
        alert("Server Error. Try again later.")
      })
    }

    </script>

  </body>
</html>
